{{ 'section-product-slider.scss.css' | asset_url | stylesheet_tag }}


<div class="product-slider">
  {% for product_single in section.settings.product_list %}
    {{ product_single.title }}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Product Slider",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "blocks": [
    {    
      "type": "product_lists",
      "name": "product lists",
      "settings": [
        {    
          "type": "product_list",
          "id": "product_list",
          "label": "Product List"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.product-slider.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.product-slider.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Slider",
      "blocks": [
       
      ]
    }
  ]
}
{% endschema %}
