{{ 'section-product-slider.scss.css' | asset_url | stylesheet_tag }}


<div class="product-slider">

  {{ section.settings.title }}

  {% for block in section.blocks %}
    {%- case block.type -%}
      {%- when 'products' -%}
        {% for product_single in block.settings.product_list %}
          {{ product_single.title }}
        {% endfor %}
      {%- when 'paragraph' -%}
        {{ block.settings.textarea }}
    {%- endcase -%}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Product Slider",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "products",
        "name": "products",
        "settings": [
          {
            "type": "product_list",
            "id": "product_list",
            "label": "Product List"
          }
        ]
      }, {
        "type": "text",
        "name": "paragraph",
        "settings": [
          {
            "type": "textarea",
            "id": "textarea",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Slider",
        "blocks": [
          {
            "type": "products"
          }
        ]
      }
    ]
  }
{% endschema %}
