{{ 'section-product-slider.scss.css' | asset_url | stylesheet_tag }}


<div class="product-slider">
  {% for product_single in section.settings.product_list %}
    {{ product_single.title }}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Product Slider",
  "tag": "section",
  "class": "section",
  "settings": [
    {    
      "type": "product_list",
      "id": "product_list",
      "label": "Product List"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "Product Slider",
      "blocks": [
       
      ]
    }
  ]
}
{% endschema %}
